* {
    margin: 0;

}

body {
    background-image: linear-gradient(to right, #E2D0D6,#D1AE6C);
}

h1 {
    text-align: center;
    margin-top: 8%;
    width: 80%;
    margin-left: 10%;
}

.links {
    text-align: center;
    margin-top: 15%;
    display: block;

}

.leo {
    background-color: #9B5B7D;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

.leo:hover {
    background-color: #fff;
    color: #9B5B7D;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

.karla {
    background-color: #9B5B7D;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

.karla:hover {
    background-color: #fff;
    color: #9B5B7D;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

.lary {
    background-color: #9B5B7D;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

.lary:hover {
   background-color: #fff;
    color: #9B5B7D;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

.cab {
    background-color: #9B5B7D;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

.cab:hover {
    background-color: #fff;
    color: #9B5B7D;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

.end {
    background-color: #9B5B7D;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

.end:hover {
    background-color: #fff;
    color: #9B5B7D;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}